body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #021869;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
    padding: 1px 0;
  }

  h1{
    font-size: 50px;
  }

  #para{
    text-align: center;
    font-size: 30px;
    font-family: poppins;
  }
  p{
    font-family: arial;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    
    
  }
  .row {
    display: flex;
    overflow: hidden;
    flex-direction: row; /* Arrange items horizontally */
  }
  
  
  
  .card {
    flex: 1;
    background: linear-gradient(to bottom,#01284f, #5af4bc);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .card a {
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .card p {
    color: #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000;
  }
  
  .service-container {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-container ul {
    list-style: none;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .complaints-container {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .complaints-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .payment-container {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .payment-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: black;
    padding: 10px;
    color: #fff;
    text-align: center;
    /* padding: 5px 0; */
    bottom: 0;
    width: 100%;
    height: 50%;
  }

  .navbar{
    display: flex;

  }
  .item2
  {
    align-self: flex-end;
  }
  .navbar {
    display: flex;
    justify-content: space-between; /* Align items with space between */
    align-items: center; /* Center items vertically */
    background-color: #002b55;
    padding: 10px;
  }
  .item,
  .item2 {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
  }
  
  .item2:not(:last-child) {
    margin-right: 10px; /* Add margin between navigation items */
  }
  #search {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px; /* Adjust margin as needed */
  width: 200px; /* Adjust width as needed */
}